<h1>User info</h1>

<%= attachment_image_tag user,:profile_image,:fill,100,100,fallback: 'no_image.jpeg'%>

<table class="table">

  <tr><th>Name</th><th><%= user.name %></th></tr>
  <tr><th>Introduction</th><th><%= user.introduction %></th></tr>

</table>

<%= link_to edit_user_path(user.id) do  %>
<i class="fas fa-user-cog"></i>
<% end %>





