<h1>User info</h1>

<%= attachment_image_tag @user,:profile_image,:fill,100,100,fallback: 'no_image.jpeg'%><br />
<label>name</label><%= @user.name %><br />
<label>introduction</label><%= @user.introduction %><br />
<%= link_to edit_user_path do %>
<i class="fas fa-user-cog"></i>
<% end %>


<h1>New Book</h1>