
<h1>welcome to <strong><i class="fas fa-book"></i>Bookers</strong> !!</h1>
<p>In <i class="fas fa-book"></i>Bookers,<br />

you can share and exchange your opinions , ipressions , and emotions

about various books!</p>

<div class="d-flex flex-column vh- 100">
  <button type="button" class="btn btn-info m-2"><%= link_to "Log in" ,new_user_session_path, class: 'text-white'%></button>
  <button type="button" class="btn btn-success m-2"><%= link_to "Sign Up", new_user_registration_path, class: 'text-white' %></button>
</div>


